<div class="row text-center">
    <div class="col">
      <h1>Contador</h1>
      <h2>{{contador}}</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
      <button class="btn btn-primary" (click)="multiplicar()">multiplicar</button>
      <button class="btn btn-info" (click)="dividir()">dividir</button>
    </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <!--app-nieto [contador]="contador" (resetContador)="resetNieto($event)"></app-nieto-->
    <app-nieto></app-nieto>
  </div>
</div>
