<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{contador}}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button class="btn btn-primary" (click)="incrementar()">incrementar</button>
    <button class="btn btn-info"    (click)="decrementar()">decrementar</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <!--app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo-->
    <app-hijo></app-hijo>
  </div>
</div>


